<div *ngIf="topic" class="mt-4">
  <div class="card">
    <div
      data-bs-toggle="modal"
      (click)="openTopicContent(topic_content)"
      class="card-header"
      style="cursor: pointer"
    >
      {{ topic.title }}
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="d-flex flex-row align-items-center justify-content-between">
          <input
            [(ngModel)]="feedback"
            type="text"
            class="form-control"
            id="title"
            name="title"
            placeholder="Feel free to write a feedback..."
            required
          />
          <div class="pb-2 ms-3 me-2" style="font-size: 1.4rem">
            <button type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-send rotate-icon"
                viewBox="0 0 16 16"
                style="width: 1.5rem; height: 1.5rem"
              >
                <path
                  d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
                />
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #topic_content class="h-100">
  <app-topic-content class="h-100" [topic]="topic"></app-topic-content>
</ng-template>
