<header
  class="p-2 ps-3 border-bottom bg-red position-sticky"
  style="height: 4rem"
>
  <div class="container-fluid px-0">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <div class="flex-grow-1">
        <div class="d-flex flex-row align-items-center">
          <div class="me-1">
            <button class="btn btn-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-list"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
                />
              </svg>
            </button>
          </div>
          <h1 class="d-flex justify-content-center align-items-center">
            <a href="#" class="text-decoration-none"> </a>
          </h1>
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li style="cursor: pointer">
              <a routerLink="/courses" class="nav-link px-2 link-secondary"
                ><span
                  class="text-dark"
                  style="
                    font-size: 1.375rem;
                    font-weight: 400;
                    line-height: 1.75rem;
                  "
                  >Studify</span
                ></a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="d-flex flex-end align-items-center flex-row">
        <div class="d-flex align-items-center me-4">
          <a href="#" class="d-block link-body-emphasis text-decoration-none">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
              />
            </svg>
          </a>
        </div>
        <div class="me-3">
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
