<header
  class="w-100 z-3 p-2 ps-3 border-bottom position-fixed bg-white top-0 d-flex align-items-center"
  style="height: 4rem"
>
  <div class="container-fluid px-0">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <div class="flex-grow-1">
        <div class="d-flex flex-row align-items-center">
          <div class="me-1">
            <button class="btn btn-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-list"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
                />
              </svg>
            </button>
          </div>
          <xng-breadcrumb
            style="font-size: 1.375rem; font-weight: 400; line-height: 1.75rem"
          ></xng-breadcrumb>
        </div>
      </div>

      <div class="d-flex flex-end align-items-center flex-row">
        <div class="d-flex align-items-center me-3">
          <a
            type="button"
            (click)="openModal(course_form)"
            class="d-block link-body-emphasis text-decoration-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
              />
            </svg>
          </a>
        </div>
        <div
          *ngIf="accountService.currentUser$ | async as user"
          class="me-3"
          dropdown
        >
          <a
            dropdownToggle
            class="d-block dropdown-toggle-split link-body-emphasis"
            aria-controls="dropdown-basic"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
              style="cursor: pointer"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              />
            </svg>
          </a>
          <ul
            id="dropdown-split"
            *dropdownMenu
            class="dropdown-menu dropdown-menu-right"
            role="menu"
            aria-labelledby="button-basic"
          >
            <li role="menuitem">
              <a class="dropdown-item" style="cursor: pointer">{{
                user.email
              }}</a>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a (click)="logout()" class="btn dropdown-item"
                ><i class="bi bi-box-arrow-right me-3"></i>Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-template #course_form>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Course</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="mb-5">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input
          [(ngModel)]="courseTitle"
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
        />
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>
