<section class="col-10" style="width: calc(100% - 20px)">
  <div class="row row-cols-3 g-4 ps-4 pt-4 pb-4">
    <div
      class="col"
      *ngFor="let course of courses"
      style="width: 20rem; height: 18.75rem"
    >
      <app-course-item
        [course]="course"
        (courseDeleted)="getCourses()"
      ></app-course-item>
    </div>
  </div>
  <div
    *ngIf="courses.length >= 10"
    class="d-flex justify-content-center align-self-end"
  >
    <div class="mt-5">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="totalCount"
        [itemsPerPage]="courseParams.pageSize"
        (pageChanged)="onPageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</section>
